<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Administrador</ion-title>
      <ion-icon slot="end"name="add-circle-outline" style="font-size: 45px;" [routerLink]="['/nuevalista']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
     
<ion-card>
  <ion-card-header>
    <ion-card-title>Lista 1</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Descripción de la Lista
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Lista 2</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Descripción de la Lista!
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Lista 3</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Descripción de la Lista
  </ion-card-content>
</ion-card>

</ion-content>