ion-content {
    --offset-top: 0px;
    --offset-bottom: 0px;
    --background: #e6e6e6;
    --color: rgb(8, 8, 8);
    ion-label{
        --offset-top: 0px;
        --offset-bottom: 0px;
        --color: #000000;
    }
        .body {
            flex: 1.5;
            ion-list {
                --background: none;
                background: none;
                margin-bottom: 0!important;
                
            }
        }
    }
