ion-content {
    --offset-top: 0px;
    --offset-bottom: 0px;
    --background: rgb(25, 29, 36);
    --color: #FFF;
    ion-card{
        --offset-top: 0px;
        --offset-bottom: 0px;
        --background: #242A34;
        --color: #FFF;
    }
    .login-box-centered {
        transform: translateY(-50%);
        top: 40%;
        height: 50%;
        left: 2.5%;
        right: 2.5%;
        position: absolute;
        width: 90%;
        }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 20px 0;
        .header {
            flex: 1;
            justify-content: center;
            text-align: center;
            padding-top: 20px;
            .title {
                img {
                    height: 100px;
                    width: 100px;
                }
            }
            h3 {
                color: #06bebd;
            }
        }
        .body {
            flex: 1.5;
            ion-list {
                --background: none;
                background: none;
                margin-bottom: 0!important;
                
                ion-item {
                    --border-color: transparent!important;
                    --highlight-height: 0;
                    --background: none;
                    background: rgba(255,255,255,0.1);
                    border-radius: 4px;
                    margin-bottom: 10px;
                    ion-icon {
                        color: #FAFAFA;
                    }
                    ion-input {
                        --color: #FFF;
                    }
                }
            }
        }
    }
}