ion-content {
    --offset-top: 0px;
    --offset-bottom: 0px;
    --background: #e6e6e6;
    --color: rgb(8, 8, 8);
    ion-card{
        --offset-top: 0px;
        --offset-bottom: 0px;
        --background: #b4b4b4;
        --color: rgb(7, 7, 7);
    }
    .login-box-centered {
        transform: translateY(-50%);
        top: 40%;
        height: 75%;
        left: 2.5%;
        right: 2.5%;
        position: absolute;
        width: 90%;
        }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 20px 0;
        .header {
            flex: 1;
            justify-content: center;
            text-align: center;
            padding-top: 20px;
            .title {
                img {
                    height: 100px;
                    width: 100px;
                }
            }
            h3 {
                color: #000000;
            }
        }
        .body {
            flex: 1.5;
            ion-list {
                --background: none;
                background: none;
                margin-bottom: 0!important;
                
                ion-item {
                    --border-color: transparent!important;
                    --highlight-height: 0;
                    --background: none;
                    background: rgba(70, 67, 67, 0.1);
                    border-radius: 4px;
                    margin-bottom: 10px;
                    ion-icon {
                        color: #000000;
                    }
                    ion-input {
                        --color: #000000;
                    }
                }
            }
        }
    }
}