<ion-content>
  <ion-card class="login-box-centered">
  <div class="container">
    <div class="header">
      <div class="title">
        <img src="https://image.flaticon.com/icons/png/512/149/149071.png">
      </div>
      <h3>Iniciar Sesión</h3>
      <p>Sistema de Control de Asistencia</p>
    </div>
    <div class="body">
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="at"></ion-icon>
          <ion-input placeholder="Correo Institucional"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="lock-open-outline"></ion-icon>
          <ion-input type="password" placeholder="Contraseña"></ion-input>
        </ion-item>
        
      </ion-list>
      <ion-button expand="block" color="primary" [routerLink]="['/administrador']">Continuar</ion-button>
      <ion-button expand="block" color="medium">Registrarse</ion-button>
    </div>
  </div>
</ion-card>
</ion-content>
